In [ ]:
from pyspark.sql import functions as Func
from pyspark.sql.functions import *

spark.sql("select * from Despachantes").show()

In [ ]:
despachantes.show()

In [ ]:
spark.sql("select nome, vendas from Despachantes").show()
despachantes.select("nome, vendas").show()

In [ ]:
spark.sql("select nome, vendas from Despachantes where > 20").show()
despachantes.select("nome, vendas").where(Func.col("vendas") > 20).show()

In [ ]:
spark.sql("select cidade, sum(vendas) from Despachantes group by cidade order by 2 desc").show()
despachantes.groupby("cidade").agg(sum("vendas")).orderby(Func.col("sum(vendas)").desc()).show()